
/* ### Landing page CSS ### */

.landingPage {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.landingNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #404eed;
  color: white;
  padding: 0px 20px;
}

.iconBox, .authBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authLink {
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 0.9em;
  font-weight: 400;
  padding: 10px;
  width: 12vh;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
}

.authLink:hover {
  color: #424bea;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon {
  font-size: 2em;
}

.discordio {
  font-size: 1.8em;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 30px;
  flex-direction: row;
  font-weight: 700;
}

.link {
  cursor: pointer;
}

.svgContainer {
  width: 50vh;
  background-color: white;
  padding: 10px 0px;
  border-radius: 50px;
  transition: 0.3s;
}

.myArticle {
  margin-top: 30vh;
  justify-content: center;
  display: flex;
}

.myArticleBox {
  background-color: #404eed;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 20px;
  width: 90vw;
  padding: 5vw;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.myIntroduction {
  font-size: 3em;

}

.myText {
  color: white;
  width: 60vw;
}

.myPara {
  font-size: 1.5em;
  line-height: 6vh;
}

.mySvgContainer {
  width: 50vh;
  z-index: 1;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  transition: 0.3s;
}

.svgContainer:hover, .mySvgContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10px);
}

.appreciationSvg, .profileSvg {
  width: 100%;
}

.landingArticle {
  display: flex;
  justify-content: center;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  background-color: #404eed;
  padding: 0px 20px;
  padding-top: 8vh;
  padding-bottom: 8vh;
  width: 100%;
  gap: 50px;
}

.text {
  color: white;
  width: 80vh;
}

.para {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 4vh;
}

.appreciationBigText {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

footer {
  background-color: #23272a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

/* ### Register page CSS ### */

.registerWarning {
  color: crimson;
}

.registerPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #404eed;
}

.registerPageBox {
  overflow: auto;
  overflow-y: hidden;
}

.register, .loginRegister {
  background-color: #2e2f36;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.registerInput {
  border: solid thin #4f5056;
  background-color: #292a2f;
  color: white;
  width: 28vw;
  font-size: 1.1em;
  padding: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerTitle {
  font-size: 1.5em;
  text-align: center;
}

.registerInputTitle {
  font-size: 0.8em;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.registerButton {
  width: 100%;
  color: white;
  border: none;
  background-color: #4d57ee;
  font-size: 1.1em;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.registerButton:hover {
  filter: brightness(90%)
}

.registerFooter {
  background-color: red;
}

/* ### Login page CSS ### */

.loginFormContainer {
  display: flex;
  justify-content: center;
}

.loginPage {
  background-color: #404eed;
  height: 100vh;
}

.upperTitles {
  text-align: center;
}

/* ### ServerList page CSS ### */

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: row;
}

.server-list-nav {
  background-color: #1c1b29;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
  max-width: 8%;
  min-width: 8%;
}

.server-image-container {
  width: 11vh;
  height: 11vh;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 40%;
}

.server-image-container:hover {
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ### ChannelsList page CSS ### */

.channels-list {
  background-color: #292841;
  max-width: 16%;
  width: 16%;
  color: #999b9f;
  display: flex;
  justify-content: center;
}

.channels_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.2em;
  gap: 10px;
}

.channel_container {
  padding: 5px 10px;
  transition: 0.3s;
  border-radius: 15px;
  cursor: pointer;
}

.channel_container:hover {
  background-color: #423f71;
  color: #ffffff;
}

/* ### MainContent page CSS ### */

.main_content {
  background-color: #312f51;
  max-width: 60%;
  width: 60%;
}

.main_bottom {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: row;
  gap: 30px;
}

.main_input {
  background-color: #423f71;
  border: none;
  font-size: 1.3em;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  color: white;
  text-indent: 30px;
}

.main_input:focus {
  outline: none;
}

.main_button {
  font-size: 1.3em;
  text-align: center;
  padding: 0px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #423f71;
  color: #bdbaeb;
  transition: 0.3s;
}

.main_button:hover {
  filter: brightness(90%);
}

.main_upper {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

.hashtag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.hashtag > span {
  font-size: 3em;
  background-color: #1c1b29;
  width: 55px;
  text-align: center;
  border-radius: 50%;
  color: #8d8bae;
}

.left_side > h1 {
  font-size: 3em;
  font-weight: 700;
}

.left_side > h3 {
  font-weight: 1.3em;
  color: #999b9f;
  font-weight: 400;
  margin-top: -20px;
}

.message_container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 30px;
}

.main_section {
  height: 88vh;
  overflow-y: scroll;
  overflow: auto;
  margin-right: 5px;
}

.main_section::-webkit-scrollbar {
  width: 0.7em;
}

.main_section::-webkit-scrollbar-thumb {
  background-color: #1c1b29;
  border-radius: 50px;
}

.main_section::-webkit-scrollbar-track {
  background-color: #292841;
  margin: 10px;
  border-radius: 50px;
}

.message {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main_image {
  width: 100%;
  border-radius: 30%;
}

.image_container {
  width: 50px;
  border-radius: 40%;
}

.this_message_content {
  display: flex;
  flex-direction: column;
  color: white;
}

.username {
  margin-top: -1px;
}

.message_content {
  margin-top: -10px;
  font-size: 1.1em;
  font-weight: 400;
}

/* ### UsersColumn page CSS ### */

.users_column {
  background-color: #292841;
  width: 16%;
}

.user_image_container {
  width: 2.5em;
}

.user_image_container > img {
  width: 2.5em;
  border-radius: 30%;
}

.users_container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
}

.user_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 12px;
  border-radius: 50px;
}

.user_container:hover {
  background-color: #423f71;
}

.user_name_container {
  font-size: 1.1em;
  color: white;
  font-weight: 700;
}